doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Tweet Form
  body
    section.container
      .tweet
        h1 Tweet
        form(method='post', action='http://localhost:3002/tweet/v1/add')
          p
            input(type='text', name='message', value='', placeholder='Messgae', required='')
          p
            input(type='text', name='name', value='', placeholder='Name', required='')
          p
            input(type='text', name='userId', value='', placeholder='Id', required='')
          p.submit
            input(type='submit', name='', value='Tweet')
